h1 {
    color: brown;
    font-size: 100px;
    font-family: "Elms Sans", sans-serif;
}

body {
    background-color: burlywood;
}

p {
    border: 2px blanchedalmond solid;
    color: azure;
    font size: 36px;
    font-family: "Elms Sans", sans-serif;
}

h2 {
    font-family: "Elms Sans", sans-serif;
}

h3 {
    font-family: "Elms Sans", sans-serif;
}