h1 {
    color: brown;
    font-size: 150px;
    font-family: "Elms Sans", sans-serif;
}

body {
    background-color: burlywood;
}

p {
    color: grey;
    font-size: 40px;
    font-family: "Elms Sans", sans-serif;
}

div {
    border: 5px gray dashed;
    border-radius: 80px;
    background-color: bisque;
}

li {
    color: grey;
    font-size: 40px;
    font-family: "Elms Sans", sans-serif;
}

a {
    color: blue;
    font-size: 40px;
    font-family: "Elms Sans", sans-serif;
    text-align: center;
}

a:hover {
    cursor: crosshair;
}

h2 {
    font-family: "Elms Sans", sans-serif;
}

h3 {
    font-family: "Elms Sans", sans-serif;
}